---
import Layout from "../../layouts/Layout.astro";
import RegisterForm from "../../react/auth/RegisterForm.tsx";
import { isFeatureEnabled } from "@/features/featureFlags";

const isAuthEnabled = isFeatureEnabled("auth");
---

<Layout title="Rejestracja">
  {
    isAuthEnabled ? (
      <RegisterForm client:load />
    ) : (
      <p>Rejestracja jest tymczasowo wyłączona.</p>
    )
  }
</Layout>


